<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<h1>hii</h1>-->
<body>
<div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4" style="text-align:center;">
                            <h6 class="mb-4">Category Table</h6>
                            <table class="table" style="width:1000px;">
                                <thead>
                                    <tr>
                                        <th scope="col"> Category_name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">profile_image</th>
<!--                                        <th scope="col">Email</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for i in data %}
                                     <tr>
                                         <td>{{i.Category_name}}</td>
                                          <td>{{i.Description }}</td>
                                          <td>
                                             <img src="{{i.profile_image.url}}" >
                                          </td>
                                         <td>
                                             <a href="{% url 'edit_cat' d_id=i.id %}">
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                             </a>
                                         </td>
                                         <td>
                                             <a href="{% url 'delete_cat' d_id=i.id %}">
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                             </a>
                                         </td>
                                     </tr>

                                     {% endfor %}
<!--                                    <tr>-->
<!--                                        <th scope="row">1</th>-->
<!--                                        <td>John</td>-->
<!--                                        <td>Doe</td>-->
<!--                                        <td>jhon@email.com</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <th scope="row">2</th>-->
<!--                                        <td>Mark</td>-->
<!--                                        <td>Otto</td>-->
<!--                                        <td>mark@email.com</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <th scope="row">3</th>-->
<!--                                        <td>Jacob</td>-->
<!--                                        <td>Thornton</td>-->
<!--                                        <td>jacob@email.com</td>-->
<!--                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>

</body>
</html>
{% endblock %}